// .container{
//     padding-top: 50px;
//     width: 1200px;
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     gap: 10px;

//     .film_cont{
//         width: calc((100% - 200px)/5);
//     }
// }

table{
    width: 100%;
    border-spacing:0;
    th{
        width: 20%;
        &:last-child{
            width: 10%;
        }
    }
}
.title_column{
    color: #fff;
    text-transform: uppercase;
    background-color: #D64E85;
    opacity: 0.9;
    th{
        padding: 15px 0;
    }
}
.data_table{
    color: #fff;
    &:nth-child(odd){
        background-color: #252525;
    }
    &:nth-child(even){
        background-color: black;
    }
}



