.container{
    padding-top: 50px;
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    .film_cont{
        width: calc((100% - 200px)/5);
    }
}